{% extends 'layouts/base.html' %}

{% macro pilih(pilihan_id) %}
    {% for p in pilihans %}
        {%if  pilihan_id == p.id%}
            <td>{{ p.item }}</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro label(label_id) %}
    {% for l in labels %}
        {%if  label_id == l.id%}
            <td>{{ l.item }}</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro add_menu(title, endpoint, icon=None) %}
    <a class="ui basic button" href="{{ url_for(endpoint) }}">
        {% if icon is not none %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ title }}
    </a>
{% endmacro %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve column">
            <h2 class="ui header">
                Detail Diagnosa Pasien {{ diagnosa.first_name }} {{ diagnosa.last_name }}
            </h2>
            <hr>

            <h3 class="ui header center">
                Data Training
            </h3>
            <div class="ui">
                <table id="example" class="ui celled table responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Merasa gelisah, cemas atau amat tegang</th>
                            <th>Tidak mampu menghentikan atau mengendalikan rasa khawatir</th>
                            <th>Terlalu mengkhawatirkan berbagai hal</th>
                            <th>Sulit untuk santai</th>
                            <th>Sangat gelisah sehingga sulit untuk duduk diam</th>
                            <th>Menjadi mudah jengkel atau lekas marah</th>
                            <th>Merasa takut seolah-olah sesuatu yang mengerikan/buruk mungkin terjadi</th>
                            <th>Tingkat kecemasan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in trainings %}
                        <tr>
                            {{ pilih(t.k1) }}
                            {{ pilih(t.k2) }}
                            {{ pilih(t.k3) }}
                            {{ pilih(t.k4) }}
                            {{ pilih(t.k5) }}
                            {{ pilih(t.k6) }}
                            {{ pilih(t.k7) }}
                            {{ label(t.c) }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Merasa gelisah, cemas atau amat tegang
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k1[0][0]}}</td>
                            <td>{{k1[0][1]}}</td>
                            <td>{{k1[0][2]}}</td>
                            <td>{{k1[0][3]}}</td>
                            <td>{{k1[0][4]}}</td>
                            <td>{{k1[0][5]}}</td>
                            <td>{{k1[0][6]}}</td>
                            <td>{{k1[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k1[1][0]}}</td>
                            <td>{{k1[1][1]}}</td>
                            <td>{{k1[1][2]}}</td>
                            <td>{{k1[1][3]}}</td>
                            <td>{{k1[1][4]}}</td>
                            <td>{{k1[1][5]}}</td>
                            <td>{{k1[1][6]}}</td>
                            <td>{{k1[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k1[2][0]}}</td>
                            <td>{{k1[2][1]}}</td>
                            <td>{{k1[2][2]}}</td>
                            <td>{{k1[2][3]}}</td>
                            <td>{{k1[2][4]}}</td>
                            <td>{{k1[2][5]}}</td>
                            <td>{{k1[2][6]}}</td>
                            <td>{{k1[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k1[3][0]}}</td>
                            <td>{{k1[3][1]}}</td>
                            <td>{{k1[3][2]}}</td>
                            <td>{{k1[3][3]}}</td>
                            <td>{{k1[3][4]}}</td>
                            <td>{{k1[3][5]}}</td>
                            <td>{{k1[3][6]}}</td>
                            <td>{{k1[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Tidak mampu menghentikan atau mengendalikan rasa khawatir
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k2[0][0]}}</td>
                            <td>{{k2[0][1]}}</td>
                            <td>{{k2[0][2]}}</td>
                            <td>{{k2[0][3]}}</td>
                            <td>{{k2[0][4]}}</td>
                            <td>{{k2[0][5]}}</td>
                            <td>{{k2[0][6]}}</td>
                            <td>{{k2[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k2[1][0]}}</td>
                            <td>{{k2[1][1]}}</td>
                            <td>{{k2[1][2]}}</td>
                            <td>{{k2[1][3]}}</td>
                            <td>{{k2[1][4]}}</td>
                            <td>{{k2[1][5]}}</td>
                            <td>{{k2[1][6]}}</td>
                            <td>{{k2[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k2[2][0]}}</td>
                            <td>{{k2[2][1]}}</td>
                            <td>{{k2[2][2]}}</td>
                            <td>{{k2[2][3]}}</td>
                            <td>{{k2[2][4]}}</td>
                            <td>{{k2[2][5]}}</td>
                            <td>{{k2[2][6]}}</td>
                            <td>{{k2[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k2[3][0]}}</td>
                            <td>{{k2[3][1]}}</td>
                            <td>{{k2[3][2]}}</td>
                            <td>{{k2[3][3]}}</td>
                            <td>{{k2[3][4]}}</td>
                            <td>{{k2[3][5]}}</td>
                            <td>{{k2[3][6]}}</td>
                            <td>{{k2[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Terlalu mengkhawatirkan berbagai hal
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k3[0][0]}}</td>
                            <td>{{k3[0][1]}}</td>
                            <td>{{k3[0][2]}}</td>
                            <td>{{k3[0][3]}}</td>
                            <td>{{k3[0][4]}}</td>
                            <td>{{k3[0][5]}}</td>
                            <td>{{k3[0][6]}}</td>
                            <td>{{k3[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k3[1][0]}}</td>
                            <td>{{k3[1][1]}}</td>
                            <td>{{k3[1][2]}}</td>
                            <td>{{k3[1][3]}}</td>
                            <td>{{k3[1][4]}}</td>
                            <td>{{k3[1][5]}}</td>
                            <td>{{k3[1][6]}}</td>
                            <td>{{k3[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k3[2][0]}}</td>
                            <td>{{k3[2][1]}}</td>
                            <td>{{k3[2][2]}}</td>
                            <td>{{k3[2][3]}}</td>
                            <td>{{k3[2][4]}}</td>
                            <td>{{k3[2][5]}}</td>
                            <td>{{k3[2][6]}}</td>
                            <td>{{k3[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k3[3][0]}}</td>
                            <td>{{k3[3][1]}}</td>
                            <td>{{k3[3][2]}}</td>
                            <td>{{k3[3][3]}}</td>
                            <td>{{k3[3][4]}}</td>
                            <td>{{k3[3][5]}}</td>
                            <td>{{k3[3][6]}}</td>
                            <td>{{k3[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Sulit untuk santai
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k4[0][0]}}</td>
                            <td>{{k4[0][1]}}</td>
                            <td>{{k4[0][2]}}</td>
                            <td>{{k4[0][3]}}</td>
                            <td>{{k4[0][4]}}</td>
                            <td>{{k4[0][5]}}</td>
                            <td>{{k4[0][6]}}</td>
                            <td>{{k4[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k4[1][0]}}</td>
                            <td>{{k4[1][1]}}</td>
                            <td>{{k4[1][2]}}</td>
                            <td>{{k4[1][3]}}</td>
                            <td>{{k4[1][4]}}</td>
                            <td>{{k4[1][5]}}</td>
                            <td>{{k4[1][6]}}</td>
                            <td>{{k4[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k4[2][0]}}</td>
                            <td>{{k4[2][1]}}</td>
                            <td>{{k4[2][2]}}</td>
                            <td>{{k4[2][3]}}</td>
                            <td>{{k4[2][4]}}</td>
                            <td>{{k4[2][5]}}</td>
                            <td>{{k4[2][6]}}</td>
                            <td>{{k4[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k4[3][0]}}</td>
                            <td>{{k4[3][1]}}</td>
                            <td>{{k4[3][2]}}</td>
                            <td>{{k4[3][3]}}</td>
                            <td>{{k4[3][4]}}</td>
                            <td>{{k4[3][5]}}</td>
                            <td>{{k4[3][6]}}</td>
                            <td>{{k4[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Sangat gelisah sehingga sulit untuk duduk diam
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k5[0][0]}}</td>
                            <td>{{k5[0][1]}}</td>
                            <td>{{k5[0][2]}}</td>
                            <td>{{k5[0][3]}}</td>
                            <td>{{k5[0][4]}}</td>
                            <td>{{k5[0][5]}}</td>
                            <td>{{k5[0][6]}}</td>
                            <td>{{k5[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k5[1][0]}}</td>
                            <td>{{k5[1][1]}}</td>
                            <td>{{k5[1][2]}}</td>
                            <td>{{k5[1][3]}}</td>
                            <td>{{k5[1][4]}}</td>
                            <td>{{k5[1][5]}}</td>
                            <td>{{k5[1][6]}}</td>
                            <td>{{k5[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k5[2][0]}}</td>
                            <td>{{k5[2][1]}}</td>
                            <td>{{k5[2][2]}}</td>
                            <td>{{k5[2][3]}}</td>
                            <td>{{k5[2][4]}}</td>
                            <td>{{k5[2][5]}}</td>
                            <td>{{k5[2][6]}}</td>
                            <td>{{k5[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k5[3][0]}}</td>
                            <td>{{k5[3][1]}}</td>
                            <td>{{k5[3][2]}}</td>
                            <td>{{k5[3][3]}}</td>
                            <td>{{k5[3][4]}}</td>
                            <td>{{k5[3][5]}}</td>
                            <td>{{k5[3][6]}}</td>
                            <td>{{k5[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Menjadi mudah jengkel atau lekas marah
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k6[0][0]}}</td>
                            <td>{{k6[0][1]}}</td>
                            <td>{{k6[0][2]}}</td>
                            <td>{{k6[0][3]}}</td>
                            <td>{{k6[0][4]}}</td>
                            <td>{{k6[0][5]}}</td>
                            <td>{{k6[0][6]}}</td>
                            <td>{{k6[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k6[1][0]}}</td>
                            <td>{{k6[1][1]}}</td>
                            <td>{{k6[1][2]}}</td>
                            <td>{{k6[1][3]}}</td>
                            <td>{{k6[1][4]}}</td>
                            <td>{{k6[1][5]}}</td>
                            <td>{{k6[1][6]}}</td>
                            <td>{{k6[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k6[2][0]}}</td>
                            <td>{{k6[2][1]}}</td>
                            <td>{{k6[2][2]}}</td>
                            <td>{{k6[2][3]}}</td>
                            <td>{{k6[2][4]}}</td>
                            <td>{{k6[2][5]}}</td>
                            <td>{{k6[2][6]}}</td>
                            <td>{{k6[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k6[3][0]}}</td>
                            <td>{{k6[3][1]}}</td>
                            <td>{{k6[3][2]}}</td>
                            <td>{{k6[3][3]}}</td>
                            <td>{{k6[3][4]}}</td>
                            <td>{{k6[3][5]}}</td>
                            <td>{{k6[3][6]}}</td>
                            <td>{{k6[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Merasa takut seolah-olah sesuatu yang mengerikan/buruk mungkin terjadi
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sedikit atau tidak ada</th>
                            <th>Ringan</th>
                            <th>Sedang</th>
                            <th>Parah</th>
                            <th>P. Sedikit atau tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tidak Pernah</td>
                            <td>{{k7[0][0]}}</td>
                            <td>{{k7[0][1]}}</td>
                            <td>{{k7[0][2]}}</td>
                            <td>{{k7[0][3]}}</td>
                            <td>{{k7[0][4]}}</td>
                            <td>{{k7[0][5]}}</td>
                            <td>{{k7[0][6]}}</td>
                            <td>{{k7[0][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sesekali</td>
                            <td>{{k7[1][0]}}</td>
                            <td>{{k7[1][1]}}</td>
                            <td>{{k7[1][2]}}</td>
                            <td>{{k7[1][3]}}</td>
                            <td>{{k7[1][4]}}</td>
                            <td>{{k7[1][5]}}</td>
                            <td>{{k7[1][6]}}</td>
                            <td>{{k7[1][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering</td>
                            <td>{{k7[2][0]}}</td>
                            <td>{{k7[2][1]}}</td>
                            <td>{{k7[2][2]}}</td>
                            <td>{{k7[2][3]}}</td>
                            <td>{{k7[2][4]}}</td>
                            <td>{{k7[2][5]}}</td>
                            <td>{{k7[2][6]}}</td>
                            <td>{{k7[2][7]}}</td>
                        </tr>
                        <tr>
                            <td>Sering Sekali</td>
                            <td>{{k7[3][0]}}</td>
                            <td>{{k7[3][1]}}</td>
                            <td>{{k7[3][2]}}</td>
                            <td>{{k7[3][3]}}</td>
                            <td>{{k7[3][4]}}</td>
                            <td>{{k7[3][5]}}</td>
                            <td>{{k7[3][6]}}</td>
                            <td>{{k7[3][7]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Nilai Atribut Tingkat kecemasan
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Jumlah</th>
                            <th>Probabilitas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sedikit atau tidak ada</td>
                            <td>{{c[0][0]}}</td>
                            <td>{{c[0][1]}}</td>
                        </tr>
                        <tr>
                            <td>Ringan</td>
                            <td>{{c[1][0]}}</td>
                            <td>{{c[1][1]}}</td>
                        </tr>
                        <tr>
                            <td>Sedang</td>
                            <td>{{c[2][0]}}</td>
                            <td>{{c[2][1]}}</td>
                        </tr>
                        <tr>
                            <td>Parah</td>
                            <td>{{c[3][0]}}</td>
                            <td>{{c[3][1]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Perhitungan likehood
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Merasa gelisah, cemas atau amat tegang</th>
                            <th>Tidak mampu menghentikan atau mengendalikan rasa khawatir</th>
                            <th>Terlalu mengkhawatirkan berbagai hal</th>
                            <th>Sulit untuk santai</th>
                            <th>Sangat gelisah sehingga sulit untuk duduk diam</th>
                            <th>Menjadi mudah jengkel atau lekas marah</th>
                            <th>Merasa takut seolah-olah sesuatu yang mengerikan/buruk mungkin terjadi</th>
                            <th>Tingkat kecemasan</th>
                            <th>Hasil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            {{pilih(diagnosa.k1)}}
                            {{pilih(diagnosa.k2)}}
                            {{pilih(diagnosa.k3)}}
                            {{pilih(diagnosa.k4)}}
                            {{pilih(diagnosa.k5)}}
                            {{pilih(diagnosa.k6)}}
                            {{pilih(diagnosa.k7)}}
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Sedikit atau tidak ada</td>
                            <td>{{lh[0][0]|round(5, 'floor')}}</td>
                            <td>{{lh[0][1]|round(5, 'floor')}}</td>
                            <td>{{lh[0][2]|round(5, 'floor')}}</td>
                            <td>{{lh[0][3]|round(5, 'floor')}}</td>
                            <td>{{lh[0][4]|round(5, 'floor')}}</td>
                            <td>{{lh[0][5]|round(5, 'floor')}}</td>
                            <td>{{lh[0][6]|round(5, 'floor')}}</td>
                            <td>{{lh[0][7]|round(5, 'floor')}}</td>
                            <td>{{lh[0][8]|round(10, 'floor')}}</td>
                        </tr>
                        <tr>
                            <td>Ringan</td>
                            <td>{{lh[1][0]|round(5, 'floor')}}</td>
                            <td>{{lh[1][1]|round(5, 'floor')}}</td>
                            <td>{{lh[1][2]|round(5, 'floor')}}</td>
                            <td>{{lh[1][3]|round(5, 'floor')}}</td>
                            <td>{{lh[1][4]|round(5, 'floor')}}</td>
                            <td>{{lh[1][5]|round(5, 'floor')}}</td>
                            <td>{{lh[1][6]|round(5, 'floor')}}</td>
                            <td>{{lh[1][7]|round(5, 'floor')}}</td>
                            <td>{{lh[1][8]|round(10, 'floor')}}</td>
                        </tr>
                        <tr>
                            <td>Sedang</td>
                            <td>{{lh[2][0]|round(5, 'floor')}}</td>
                            <td>{{lh[2][1]|round(5, 'floor')}}</td>
                            <td>{{lh[2][2]|round(5, 'floor')}}</td>
                            <td>{{lh[2][3]|round(5, 'floor')}}</td>
                            <td>{{lh[2][4]|round(5, 'floor')}}</td>
                            <td>{{lh[2][5]|round(5, 'floor')}}</td>
                            <td>{{lh[2][6]|round(5, 'floor')}}</td>
                            <td>{{lh[2][7]|round(5, 'floor')}}</td>
                            <td>{{lh[2][8]|round(10, 'floor')}}</td>
                        </tr>
                        <tr>
                            <td>Parah</td>
                            <td>{{lh[3][0]|round(5, 'floor')}}</td>
                            <td>{{lh[3][1]|round(5, 'floor')}}</td>
                            <td>{{lh[3][2]|round(5, 'floor')}}</td>
                            <td>{{lh[3][3]|round(5, 'floor')}}</td>
                            <td>{{lh[3][4]|round(5, 'floor')}}</td>
                            <td>{{lh[3][5]|round(5, 'floor')}}</td>
                            <td>{{lh[3][6]|round(5, 'floor')}}</td>
                            <td>{{lh[3][7]|round(5, 'floor')}}</td>
                            <td>{{lh[3][8]|round(10, 'floor')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="ui header center">
                Perhitungan Probabilitas Akhir
            </h3>
            <div class="ui">
                <table class="ui definition table">
                    
                    <tbody>
                        <tr>
                            <td>Probabilitas Sedikit atau tidak ada</td>
                            <td>{{lh[4][0]|round(15, 'floor')}}</td>
                        </tr>
                        <tr>
                            <td>Probabilitas Ringan</td>
                            <td>{{lh[4][1]|round(15, 'floor')}}</td>
                        </tr>
                        <tr>
                            <td>Probabilitas Sedang</td>
                            <td>{{lh[4][2]|round(15, 'floor')}}</td>
                        </tr>
                        <tr>
                            <td>Probabilitas Parah</td>
                            <td>{{lh[4][3]|round(15, 'floor')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="ui">
                {% if(hasildiagnosa.tingkatkecemasan == 'Parah') %}
                <div class="ui huge red label">
                    Berdasarkan perhitungan, maka Pasien <b>{{ diagnosa.first_name }} {{ diagnosa.last_name }}</b> mengalami tingkat gangguan kecemasan tergenerelasisikan <b>{{ hasildiagnosa.tingkatkecemasan }}</b>.
                </div>
                {% elif(hasildiagnosa.tingkatkecemasan == 'Sedang') %}
                <div class="ui huge orange label">
                    Berdasarkan perhitungan, maka Pasien <b>{{ diagnosa.first_name }} {{ diagnosa.last_name }}</b> mengalami tingkat gangguan kecemasan tergenerelasisikan <b>{{ hasildiagnosa.tingkatkecemasan }}</b>.
                </div>
                {% elif(hasildiagnosa.tingkatkecemasan == 'Ringan') %}
                <div class="ui huge green label">
                    Berdasarkan perhitungan, maka Pasien <b>{{ diagnosa.first_name }} {{ diagnosa.last_name }}</b> mengalami tingkat gangguan kecemasan tergenerelasisikan <b>{{ hasildiagnosa.tingkatkecemasan }}</b>.
                </div>
                {% elif(hasildiagnosa.tingkatkecemasan == 'Sedikit atau tidak ada') %}
                <div class="ui huge blue label">
                    Berdasarkan perhitungan, maka Pasien <b>{{ diagnosa.first_name }} {{ diagnosa.last_name }}</b> mengalami tingkat gangguan kecemasan tergenerelasisikan <b>{{ hasildiagnosa.tingkatkecemasan }}</b>.
                </div>
                {% endif %}
            </div>
            <br><br>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>
{% endblock %}