{% extends 'layouts/base.html' %}

{% macro pilih(pilihan_id) %}
    {% for p in pilihans %}
        {%if  pilihan_id == p.id%}
            <td>{{ p.item }}</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro label(label_id) %}
    {% for l in labels %}
        {%if  label_id == l.id%}
            <td>{{ l.item }}</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro add_menu(title, endpoint, icon=None) %}
    <a class="ui basic button" href="{{ url_for(endpoint) }}">
        {% if icon is not none %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ title }}
    </a>
{% endmacro %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve column">
            <h2 class="ui header">
                Detail Diagnosa
            </h2>
            
            <div class="ui two column stackable grid">
                <table id="example" class="ui celled table responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Merasa gelisah, cemas atau amat tegang</th>
                            <th>Tidak mampu menghentikan atau mengendalikan rasa khawatir</th>
                            <th>Terlalu mengkhawatirkan berbagai hal</th>
                            <th>Sulit untuk santai</th>
                            <th>Sangat gelisah sehingga sulit untuk duduk diam</th>
                            <th>Menjadi mudah jengkel atau lekas marah</th>
                            <th>Merasa takut seolah-olah sesuatu yang mengerikan/buruk mungkin terjadi</th>
                            <th>Tingkat kecemasan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in trainings %}
                        <tr>
                            {{ pilih(t.k1) }}
                            {{ pilih(t.k2) }}
                            {{ pilih(t.k3) }}
                            {{ pilih(t.k4) }}
                            {{ pilih(t.k5) }}
                            {{ pilih(t.k6) }}
                            {{ pilih(t.k7) }}
                            {{ label(t.c) }}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>
{% endblock %}