{% extends 'layouts/base.html' %}

{% macro pilih(pilihan_id) %}
    {% for p in pilihans %}
        {%if  pilihan_id == p.id%}
            <td>{{ p.item }}</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro label(label_id) %}
    {% for l in labels %}
        {%if  label_id == l.id%}
            <td>{{ l.item }}</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro add_menu(title, endpoint, icon=None) %}
    <a class="ui basic button" href="{{ url_for(endpoint) }}">
        {% if icon is not none %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ title }}
    </a>
{% endmacro %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve column">
            <h2 class="ui header">
                Diagnosa
            </h2>
            
            <div class="ui two column stackable grid">
                <!-- ui celled table responsive nowrap unstackable -->
                <table id="example" class="ui celled table responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Merasa gelisah, cemas atau amat tegang</th>
                            <th>Tidak mampu menghentikan atau mengendalikan rasa khawatir</th>
                            <th>Terlalu mengkhawatirkan berbagai hal</th>
                            <th>Sulit untuk santai</th>
                            <th>Sangat gelisah sehingga sulit untuk duduk diam</th>
                            <th>Menjadi mudah jengkel atau lekas marah</th>
                            <th>Merasa takut seolah-olah sesuatu yang mengerikan/buruk mungkin terjadi</th>
                            <th>Tingkat kecemasan</th>
                            <!-- <th>P. Sedikit/tidak ada</th>
                            <th>P. Ringan</th>
                            <th>P. Sedang</th>
                            <th>P. Parah</th> -->
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in diagnosa %}
                        <tr>
                            <td>{{t.first_name}} {{t.last_name}}</td>
                            {{ pilih(t.k1) }}
                            {{ pilih(t.k2) }}
                            {{ pilih(t.k3) }}
                            {{ pilih(t.k4) }}
                            {{ pilih(t.k5) }}
                            {{ pilih(t.k6) }}
                            {{ pilih(t.k7) }}
                            {% if(t.tingkatkecemasan == "Sedikit atau tidak ada") %}
                                <td bgcolor="#2185d0" style="color: white;">{{ t.tingkatkecemasan }}</td>
                            {% elif(t.tingkatkecemasan == "Ringan") %}
                                <td bgcolor="#2ecc40" style="color: white;">{{ t.tingkatkecemasan }}</td>
                            {% elif(t.tingkatkecemasan == "Sedang") %}
                                <td bgcolor="ff851b" style="color: white;">{{ t.tingkatkecemasan }}</td>
                            {% elif(t.tingkatkecemasan == "Parah") %}
                                <td bgcolor="#ff695e">{{ t.tingkatkecemasan }}</td>
                            {% endif %}
                            
                            <!-- <td>{{ t.sedikitatautidakada }}</td>
                            <td>{{ t.ringan }}</td>
                            <td>{{ t.sedang }}</td>
                            <td>{{ t.parah }}</td> -->
                            <td><a class="ui compact icon button blue" href="{{ url_for('diagnosa.detail', id=t.id) }}">Detail</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>
{% endblock %}