{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Hello {% if not (current_user.is_authenticated) %} world {% else %} {{ current_user.full_name() }} {% endif %},</h1>

      <p>Sistem Diagnosa Gangguan Kecemasan Tergeneralisasikan dengan metode Bayes.</p>
    </div>
{% endblock %}
